@import url(http://fonts.googleapis.com/css?family=Lato:100);

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: #ffffff;
  font-family: 'Lato';
  font-weight: 100;
  font-size: 28px;
}

h1 {
  font-weight: inherit;
  text-transform: uppercase;
  font-size: 300%;
  margin: 0;
}

h2 {
	margin-bottom: .2em;
	font-size: 120%;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
}

h2,h3,p {
  max-width: 1000px;
}

blockquote,p.small,
pre {
  font-size: 70%;
}

blockquote {
	padding: .2em 1em;
	color: #333;
	background: #fff;
}

section {
  position: relative;
  overflow: hidden;
  padding: 50px;
  width: 100%;
  height: 100%;
  background: #1abc9c;
}

section:nth-child(2n) {
  background: #16a085;
}

section section {
  background: #f1c40f;
}

section section:nth-child(2n) {
  background: #f39c12;
}

section pre {
  background: #16a085;
}

section:nth-child(2n) pre {
  background: #1abc9c;
}

.panels,
.log,
.menu,
pre {
  position: absolute;
  top: 200px;
  bottom: 50px;
  right: 50px;
  left: 400px;
  overflow: scroll;
}

.log,
.menu {
  right: auto;
  left: 50px;
  width: 300px;
}

pre {
  left: 50px;
  padding: 50px;
}

.menu a {
  display: block;
  width: 100%;
  padding: 25px;
  background: #f1c40f;
  text-decoration: none;
  margin: 0 0 25px 0;
}

.menu a.active,
.menu a:active,
.menu a:hover {
  background: #f39c12;
}

@media screen and (max-width: 1000px) {
  .panels,
  .log,
  .menu {
    top: 300px;
  }
}